# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# macOS system files
.DS_Store

# Virtual environments
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out

# Build artifacts
build/
dist/
*.egg-info/

# Windows system files
Thumbs.db

# VS Code settings
.vscode/
